<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap-responsive.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
	<title>TelBase as testing application</title>
</head>
<body>
	<div class="container">
		<div class="row">
		  	<div class="span4" id="contacts-list-place">
		  		<ul id="controls">
		  			<li id="btn-create-new-contact" class="btn btn-success">Create</li>
		  			<li id="btn-delete-contacts" class="btn btn-danger" disabled="disabled">Delete</li>
		  		</ul>
		  		<ul id="contacts-list"></ul>
		  	</div>
		  	<div class="span4" id="contact-form-place">
		  		<div id="about">© Vasiliy Tsybenko, <a href="https://github.com/VasayXTX/PhoneBase"><i class="icon-eye-open"></i>&nbsp;github</a>, 2012</div>

		  		<form id="contact-form" action="/" method="post">
					<legend>Редактирование</legend>
	  				<div class="control-group">
				  		<label>Фамилия</label>
				  		<input type="text" placeholder="Фамилия" id="inp-last-name">
				  		<span class="help-inline"></span>
	  				</div>
	  				<div class="control-group">
				  		<label>Имя</label>
				  		<input type="text" placeholder="Имя" id="inp-first-name">
				  		<span class="help-inline"></span>
	  				</div>
	  				<div class="control-group">
				  		<label>Отчество</label>
				  		<div class="controls">
					  		<input type="text" placeholder="Отчество" id="inp-second-name">
	                		<span class="help-inline"></span>
	                	</div>
	  				</div>
	  				<div class="control-group">
				  		<label>Телефонный номер</label>
				  		<input type="tel" placeholder="Телефонный номер" id="inp-phone-number">
				  		<span class="help-inline"></span>
	  				</div>
	  				<div class="control-group">
				  		<label>Город</label>
				  		<select placeholder="Город" id="select-city"></select>
	  				</div>
	  				<div class="control-group">
				  		<label>Улица</label>
				  		<select placeholder="Улица" id="select-street"></select>
	  				</div>
				  	<div>
				  		<button type="submit" class="btn btn-primary">Создать</button>
				  	</div>
				</form>
		  	</div>
		</div>
	</div>

	<script src="/assets/javascripts/jquery-1.8.2.min.js"></script>
	<script src="/assets/javascripts/bootstrap.min.js"></script>
	<script src="/assets/javascripts/spine.js"></script>
	<script src="/assets/javascripts/underscore-min.js"></script>
	<script src="/assets/javascripts/app.js"></script>

	<!-- JS templates -->

    <script type="text/template" id="templ-contact-list-item">
    	<% for (var i = 0; i < contacts.length; ++i) { %>
    		<% var c = contacts[i]; %>
    		<% var full_name = c.last_name + ' ' + c.first_name + ' ' + c.second_name; %>
			<li id="contact_<%= c.id %>">
				<div class="contact-checkbox-place"><input type="checkbox" value></div>
				<a class="contact-list-item" href="#"><%= full_name %></a>
			</li>
		<% } %>
    </script>
</body>
</html>
